@charset "UTF-8";

*{
    padding: 0%;
    margin: 0%;
}


:root{
    --cor1:#5000b8;
    --cor2:#18005c;
    --cor3:#001DFF;

}

header{
    padding: 10px;
    margin: 15px;
    background-color: var(--cor3);
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.452);
    border-radius: 5px 5px 0px 0px;
}

header > h1{
    text-align: center;
    color: var(--cor2);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header > p{
    font-size: large;
    font-family: Arial, Helvetica, sans-serif;
    color: #5000b8;
    text-decoration: underline;
}

nav.menu{
    padding: 20px;
    margin: 15px;
    background-color: #18005c;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.452);
    border-radius: 0px 0px 5px 5px;
}

.menu > a{
    background-color: var(--cor3);
    border-radius: 10px;
    padding: 10px;
    color: var(--cor2);
    text-decoration: none;
    font-style: normal;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

} 

.menu > a:hover{
    background-color: var(--cor1);
    color: var(--cor3);
}

nav.contato{
    background-color: var(--cor3);
    border-radius: 10px;
    padding: 10px;
    color: var(--cor2);
    padding: 20px;
    margin: 15px;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.452);
}

main{
    
}

.sobremim{
    margin: 10px;
    border-radius: 10px;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.452);
}

.sobremim > article{

}

.tecnologias{
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.452);
    margin: 10px;
    border-radius: 10px
}

.tecnologias > article{

}

footer{
    text-align: center;
    padding: 10px;
    background-color: var(--cor3);
    border-radius: 2px
}
